.navbar {
    display: flex;
    background-color: rgb(44, 43, 43);
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.nav-list a:hover {
    background-color: rgb(70, 70, 70);
}

.nav-btn {
    display: none;
}
.card p{
    color: white;
}
#burger,
[for="burger"]{
    display: none;
}
@media (max-width: 700px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(44, 43, 43);
        color: white;
        display: block;
        cursor: pointer;
    }
    @media (max-width: 700px){
        .card{
            margin: 20px;
        }
    }
    .nav-list {
        display: none;
    }
.nav-btn:hover {
    background-color: rgb(70, 70, 70);
}

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(44, 43, 43);
    }

    .navbar {
        justify-content: flex-end;
    }
}